.first{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    
    
 
}

.second{
    background-color: red;
    width: 100px;
    height: 100px;
 
}

.third{
    background: green;
    width: 100px;
    height: 100px;
    position: relative;
    top: 7px;
    z-index: 1;
    

 
}

.cont1{
    
}
