.first, .second, .third{
    width: 100px;
    height: 100px;
    /* background-color: red; */
}
.first{
    background-color: red;
    /* position: absolute;
    top: 10px;
    left: 10px;
    z-index: -1;
     */
     display: inline-block;
}
.second{
    background-color: green;
    display: inline-block;
    border: 5px solid red;
    
}
.third{
    background-color: blue;
    display: inline-block;
    box-shadow: 5px 5px 5px grey;
    
}
.main{
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    /* display: inline-block; */


}